doctype html
html(lang="en")
	head
		title= pageTitle
		link(rel="stylesheet" type="text/css" href="css/build/build.css")
		script(src="js/build/build.js")

	body
		h1 Backbone single page application
